<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="user" color="danger">
  <div class="center">
    <img [src]="user.avatar">
  </div>
  <ion-card color="light">
    <ion-list>
      <ion-list-header>
        Datos Generales
      </ion-list-header>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Nombre</ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-label>{{user.first_name}}</ion-label>
        </ion-item>

        <ion-item-divider>
          <ion-label>Apellido</ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-label>{{user.last_name}}</ion-label>
        </ion-item>

        <ion-item-divider>
          <ion-label>Email</ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-label>{{user.email}}</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-card>
</ion-content>
